<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= @action_message %></h1>
  </div>
</div>
  
<% if @codigo.errors.any? %>
   <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
     <ul>
      <% @codigo.errors.full_messages.each do |error| %>
        <li> <%= error %></li>
      <%end%>
    </ul>
  </div>
<% end %>


<%= form_with(model: codigo, local: true) do |form| %>

  <div class="field">
     <div class="form-group">
      <%= form.label :codigo, "Código:" %>
      <%= form.text_field :codigo, class:"form-control", minlength: '44', maxlength: '48', required: true %> 
    </div>


  <div class="actions">
    <%= form.submit 'Enviar', class:"btn btn-primary" %>
    <%= link_to 'Voltar', codigos_path, class:'btn btn-info' %>
  </div>
<% end %>
