<div class="container-fluid mt-100 mb-100">
    <div id="ui-view">
        <div>
            <div class="card">
                <div class="card-header"><strong> <%= @arquivo %> Detalhes do Código</strong> 
                </div>
                 
                <div class="card-body">
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th class="center">Código de Registro:</th>
                                    <td class="center"><%= @cod_leitura[0] %></td>
                                </tr>
                                  <tr>
                                    <th class="center">Código de barra:</th>
                                    <td class="center"><%= @cod_leitura[37..80] %></td>
                                </tr>
                                <tr>
                                    <th class="center">Data Pagamento</th>
                                    <td class="center"><%= [ @cod_leitura[21..24], @cod_leitura[25..26], @cod_leitura[27..28] ].reverse.map{ |s| "#{s}-" }.join[0...-1] %></td>
                                </tr>
                                  <tr>
                                    <th class="right">Valor</th>
                                    <td class="right"><%= @cod_leitura[81..92].insert(-3, ',').sub!(/^0+/,'') %></td>
                                </tr>
                                 <tr>
                                    <th class="right">NSR</th>
                                    <td class="right"><%= @cod_leitura[100..107] %></td>
                                </tr>
                                <tr>
                                    <th class="right">Agência Arrecadadora</th>
                                    <td class="center"><%= @cod_leitura[108..115] %></td>
                                </tr>
                                <tr>
                                    <th class="right">Forma Arrecadação</th>
                                    <td class="right"><%= @canais_de_recebimento["#{@cod_leitura[116]}"] %></td>
                                </tr>
                                <tr>
                                    <th class="right">Número de Autenticação</th>
                                    <td class="right"><%= @cod_leitura[117..139].sub!(/^0+/,'') %></td>
                                </tr>
                                <tr>
                                    <th class="right">Forma Pagamento</th>
                                    <td class="left"><%= @formas_pagamentos[@cod_leitura[140]] %></td> 
                                </tr>                                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pull-right"> 
      <%# <a class="btn btn-sm btn-info" href="#" data-abc="true"><i class="fa fa-print mr-1"></i> Imprimir</a> %>
      <input type="button" value="Voltar" onClick="history.go(-1);" class="btn btn-sm btn-info">
  </div>
</div>

<%


# 202010130700142020101300000000826100000005152001282021529477082020000000030000000051520000000000000014640    4000059028              1        0"
# cod_reg = @cod_leitura[0] #Código do registro (fixo = “G”)
# branco = @cod_leitura[1..6]
# data_hora_transacao = @cod_leitura[7..20] #Data/hora da transação (AAAAMMDDHHMMSS)
# data_transicao = "#{@cod_leitura[7..10]}-#{@cod_leitura[11..12]}-#{@cod_leitura[13..14]}"#(AAAAMMDD)
# hora_transicao = "#{@cod_leitura[15..16]},#{@cod_leitura[17..18]},#{@cod_leitura[19..20]}"#(HHMMSS)
# data_pagamento = [ @cod_leitura[21..24], @cod_leitura[25..26], @cod_leitura[27..28] ].reverse.map{ |s| "#{s}-" }.join[0...-1]
# zeros = @cod_leitura[29..36] # Ignorar??
# matricula = @cod_leitura[70..78].sub!(/^0+/,'') 
# cod_barra = @cod_leitura[37..80] # Ignorar??
# valor_recebido = @cod_leitura[81..92].insert(-3, ',').sub!(/^0+/,'') #duas casas decimais
# mais_zeros = @cod_leitura[93..99] # Ignorar??
# nsr =  @cod_leitura[100..107] # Número Seqüencial de Registro 
# cod_agencia_arrecadadora = @cod_leitura[108..115]
# forma_arrecadacao_captura = @cod_leitura[116]
# num_autenticacao_ou_cod_transacao = @cod_leitura[117..139].sub!(/^0+/,'')
# forma_pagamento = @cod_leitura[140]
# reservado = @cod_leitura[141..148]
# tipo_de_transacao = @cod_leitura[149]

# puts normalizado = "Código de registro: #{cod_reg}\nData: #{data_pagamento}\nCódigo de barra: #{cod_barra}\nValor recebido: R$ #{valor_recebido}\nNSR: #{nsr}
# Código da agência arrecadadora: #{cod_agencia_arrecadadora}\nForma de arrecadação: #{forma_arrecadacao_captura}
# Número da autenticação caixa ou código de transação: #{num_autenticacao_ou_cod_transacao}\nForma de pagamento: #{forma_pagamento}"

#  %>