<h1 class="h1_pdf"> Detalhes do Código de Barra </h1>
<div class="container-fluid mt-100 mb-100">
  <div>
    <div>
      <div class="card">
        <div class="card-header"><strong> Detalhes do Código da Rajada/Consolidado</strong>
          <% cod_barra = @cod_leitura[37..80]  %>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <tbody class="tbody">
              <tr>
                <th class="center">Código do convênio:</th>
                <td class="center"><%= @head[2..21]%></td>
              </tr>
              <tr>
                <th class="center">Banco:</th>
                <td class="center"><%= @head[42..44]%> - <%= @head[45..64] %></td>
              </tr>
              <tr>
                <th class="center">Data Pagamento:</th>
                <td class="center"><%= [ @cod_leitura[21..24], @cod_leitura[25..26], @cod_leitura[27..28] ].reverse.map{ |s| "#{s}-" }.join[0...-1] %></td>
              </tr>
              <tr>
                <th class="center">Valor:</th>
                <td class="center"><%= number_to_currency_br(@cod_leitura[81..92].insert(-3,'.'))%></td>
              </tr>
              <tr>
                <th class="center">NSA - Número Seqüencial do Arquivo:</th>
                <td class="center"><%= @head[73..78]%></td>
              </tr>
              <tr>
                <th class="center">NSR - Número Seqüencial do Registro:</th>
                <td class="center"><%= @cod_leitura[100..107] %></td>
              </tr>
              <tr>
                <th class="center">Agência Arrecadadora:</th>
                <td class="center"><%= @cod_leitura[108..115] %></td>
              </tr>
              <tr>
                <th class="center">Forma Arrecadação:</th>
                <td class="center"><%= @canais_de_recebimento["#{@cod_leitura[116]}"] %></td>
              </tr>
              <tr>
                <th class="center">Número de Autenticação:</th>
                <td class="center"><%= @cod_leitura[117..139].sub!(/^0+/,'') %></td>
              </tr>
              <tr>
                <th class="center">Código de barra:</th>
                <td class="center"><%= @cod_leitura[37..80] %></td>
              </tr>
              <tr>
                <th class="center">Identificação Valor Real ou Referência:</th>
                <td class="center"><%= cod_barra[2] %></td>
              </tr>
              <tr>
                <th class="center">Dígito Verificador Geral:</th>
                <td class="center"><%= cod_barra[3] %></td>
              </tr>
              <tr>
                <th class="center">Valor Efetivo ou de Referência:</th>
                <td class="center"><%= number_to_currency_br(cod_barra[4..14].insert(-3, '.'))  %></td>
              </tr>
              <tr>
                <th class="center">Identificação da Empresa:</th>
                <td class="center"><%= cod_barra[15..18]%> <%= ' - CASAL' if cod_barra[15..18].match(/0012/)  %> </td>
              </tr>
              <tr>
                <th class="center">Identificação do Pagamento:</th>
                <td class="center"><%= cod_barra[19..43] %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="card-header"><strong>Detalhes da Identificação do Pagamento</strong></div>
        <div class="card-body">
          <table class="table table-striped">
            <tbody class="tbody">
              <%if cod_barra[43].match(/3/) && cod_barra[19..20].match(/82/) || cod_barra[19..20].match(/82/) %>
                <tr>
                  <th class="center">Código do convênio:</th>
                  <td class="center"><%= cod_barra[19..20]%></td>
                </tr>
                <tr>
                  <th class="center">Matrícula do Imóvel:</th>
                  <td class="center"><%= cod_barra[21..29]%></td>
                </tr>
                <tr>
                  <th class="center">Mês/Ano de Referência:</th>
                  <td class="center"><%= cod_barra[30..35].insert(2,'/')%></td>
                </tr>
                <tr>
                  <th class="center">Dígito Verificador da Conta:</th>
                  <td class="center"><%= cod_barra[36]%></td>
                </tr>
                <tr>
                  <th class="center">Não Utilizado:</th>
                  <td class="center"><%= cod_barra[37..42]%></td>
                </tr>
                <tr>
                  <th class="center">Tipo de Pagamento:</th>
                  <td class="center"><%= cod_barra[43]%> - Conta (Legado)</td>
                </tr>
              <%elsif cod_barra[43].match(/3/)%>
                <tr>
                  <th >Código da Localidade:</th>
                  <td ><%= cod_barra[19..21]%> - <%= @localidades["#{cod_barra[19..21]}"]%></td>
                </tr>
                <% if cod_barra[32].match(/0/) %>
                  <tr>
                    <th >Matrícula do Imóvel:</th>
                    <td ><%= cod_barra[22..29]%></td>
                  </tr>
                  <tr>
                    <th class="center">Não Utilizado:</th>
                    <td class="center"><%= cod_barra[30..32]%></td>
                  </tr>
                <% else %>
                  <tr>
                    <th >Matrícula do Imóvel:</th>
                    <td ><%= cod_barra[22..30]%></td>
                  </tr>
                  <tr>
                    <th class="center">Não Utilizado:</th>
                    <td class="center"><%= cod_barra[31..32]%></td>
                  </tr>
                <% end %>
                <tr>
                  <th class="center">Mês/ano de Referência:</th>
                  <td class="center"><%= cod_barra[33..38].insert(2,'/')%></td>
                </tr>
                <tr>
                  <th class="center">Digito Verificador da Conta no Módulo 10:</th>
                  <td class="center"><%= cod_barra[39]%></td>
                </tr>
                <tr>
                  <th class="center">Não Utilizado:</th>
                  <td class="center"><%= cod_barra[40..42]%></td>
                </tr>
                <tr>
                  <th class="center">Tipo de Pagamento:</th>
                  <td class="center"><%= cod_barra[43]%> - Conta</td>
                </tr>
              <%elsif cod_barra[43].match(/1/)%>
                <tr>
                  <th >Código da Localidade:</th>
                  <td ><%= cod_barra[19..21]%> - <%= @localidades["#{cod_barra[19..21]}"]%></td>
                </tr>
                <% if cod_barra[42].match(/0/) %>
                  <tr>
                    <th >Matrícula do Imóvel:</th>
                    <td ><%= cod_barra[22..29]%></td>
                  </tr>
                  <tr>
                    <th >Identificador da Guia de Pagamento:</th>
                    <td ><%= cod_barra[30..38]%></td>
                  </tr>
                  <tr>
                    <th class="center">Não Utilizado:</th>
                    <td class="center"><%= cod_barra[39..42]%></td>
                  </tr>
                  <tr>
                    <th class="center">Tipo de Pagamento:</th>
                    <td class="center"><%= cod_barra[43]%> - Guia de Pagamento com Identificação de Matricula</td>
                  </tr>
                <% else %>
                  <tr>
                    <th >Matrícula do Imóvel:</th>
                    <td ><%= cod_barra[22..30]%></td>
                  </tr>
                  <tr>
                    <th >Identificador da Guia de Pagamento:</th>
                    <td ><%= cod_barra[31..39]%></td>
                  </tr>
                  <tr>
                    <th class="center">Não Utilizado:</th>
                    <td class="center"><%= cod_barra[40..42]%></td>
                  </tr>
                  <tr>
                    <th class="center">Tipo de Pagamento:</th>
                    <td class="center"><%= cod_barra[43]%> - Guia de Pagamento com Identificação de Matricula</td>
                <% end %>
              <%elsif cod_barra[43].match(/4/)%>
                <tr>
                  <th >Código da Localidade:</th>
                  <td ><%= cod_barra[19..21]%> - <%= @localidades["#{cod_barra[19..21]}"]%></td>
                </tr>
                <% if cod_barra[32].match(/0/) %>
                  <tr>
                    <th >Matrícula do Imóvel:</th>
                    <td ><%= cod_barra[22..29]%></td>
                  </tr>
                  <tr>
                    <th >Identificador da Guia de Pagamento:</th>
                    <td ><%= cod_barra[30..32]%></td>
                  </tr>
                <% else %>
                  <tr>
                    <th >Matrícula do Imóvel:</th>
                    <td ><%= cod_barra[22..30]%></td>
                  </tr>
                  <tr>
                    <th >Identificador da Guia de Pagamento:</th>
                    <td ><%= cod_barra[31..32]%></td>
                  </tr>
                <% end %>
                <tr>
                  <th class="center">Código do Tipo do Débito:</th>
                  <td class="center"><%= cod_barra[33..35]%></td>
                </tr>
                <tr>
                  <th class="center">Ano da Emissão da Guia de Pagamento:</th>
                  <td class="center"><%= cod_barra[36..39]%></td>
                </tr>
                <tr>
                  <th class="center">Não Utilizado:</th>
                  <td class="center"><%= cod_barra[40..42]%></td>
                </tr>
                <tr>
                  <th class="center">Tipo de Pagamento:</th>
                  <td class="center"><%= cod_barra[43]%> - Guia de Pagamento</td>
                </tr>
              <%elsif cod_barra[43].match(/5/)%>
                <tr>
                  <th >Código da Localidade:</th>
                  <td ><%= cod_barra[19..21]%> - <%= @localidades["#{cod_barra[19..21]}"]%></td>
                </tr>
                <% if cod_barra[42].match(/0/) %>
                  <tr>
                    <th >Matrícula do Imóvel:</th>
                    <td ><%= cod_barra[22..29]%></td>
                  </tr>
                  <tr>
                    <th>Sequencial do Documento de Cobrança:</th>
                    <td><%= cod_barra[30..38]%></td>
                  </tr>
                  <tr>
                    <th>Código do Tipo de Documento:</th>
                    <td><%= cod_barra[39..40]%></td>
                  </tr>
                  <tr>
                    <th>Não Utilizado:</th>
                    <td><%= cod_barra[41..42]%></td>
                  </tr>
                <% else %>
                  <tr>
                    <th >Matrícula do Imóvel:</th>
                    <td ><%= cod_barra[22..30]%></td>
                  </tr>
                  <tr>
                    <th>Sequencial do Documento de Cobrança:</th>
                    <td><%= cod_barra[31..39]%></td>
                  </tr>
                  <tr>
                    <th>Código do Tipo de Documento:</th>
                    <td><%= cod_barra[40..41]%></td>
                  </tr>
                  <tr>
                    <th>Não Utilizado:</th>
                    <td><%= cod_barra[42]%></td>
                  </tr>
                <% end %>
                <tr>
                  <th class="center">Tipo de Pagamento:</th>
                  <td class="center"><%= cod_barra[43]%> - Documento de Cobrança</td>
                </tr>
              <%elsif cod_barra[43].match(/6/)%>
                <tr>
                  <th >Código da Localidade:</th>
                  <td ><%= cod_barra[19..21]%> - <%= @localidades["#{cod_barra[19..21]}"]%></td>
                </tr>
                <tr>
                  <th >Número de Identificação do Cliente:</th>
                  <td ><%= cod_barra[22..29]%></td>
                </tr>
                <tr>
                  <th>Não Utilizado</th>
                  <td><%= cod_barra[30..32]%></td>
                </tr>
                <tr>
                  <th>Código do Tipo de Débito:</th>
                  <td><%= cod_barra[33..35]%></td>
                </tr>
                <tr>
                  <th>Ano da Emissão da Guia de Pagamento:</th>
                  <td><%= cod_barra[36..39]%></td>
                </tr>
                <tr>
                  <th>Não Utilizado:</th>
                  <td><%= cod_barra[40..42]%></td>
                </tr>
                <tr>
                  <th class="center">Tipo de Pagamento:</th>
                  <td class="center"><%= cod_barra[43]%> - Guia de Pagamento de Cliente</td>
                </tr>
              <%elsif cod_barra[43].match(/7/)%>
                <tr>
                  <th >Código do Cliente Responsável:</th>
                  <td ><%= cod_barra[19..27]%></td>
                </tr>
                <tr>
                  <th >Não Utilizado:</th>
                  <td ><%= cod_barra[28..29]%></td>
                </tr>
                <tr>
                  <th>Mês e Ano de Referência da Conta</th>
                  <td><%= cod_barra[30..35].insert(2,'/')%></td>
                </tr>
                <tr>
                  <th>Dígito Verificador da Conta no Módulo 10:</th>
                  <td><%= cod_barra[36]%></td>
                </tr>
                <tr>
                  <th>Sequencial de Fatura do Cliente Responsavel:</th>
                  <td><%= cod_barra[37..42]%></td>
                </tr>
                <tr>
                  <th class="center">Tipo de Pagamento:</th>
                  <td class="center"><%= cod_barra[43]%> - Pagamento de Fatura de Cliente Responsável</td>
                </tr>
              <%elsif cod_barra[43].match(/8/)%>
                <tr>
                  <th >Código da Localidade:</th>
                  <td ><%= cod_barra[19..21]%> - <%= @localidades["#{cod_barra[19..21]}"]%></td>
                </tr>
                <tr>
                  <th >Código do Cliente:</th>
                  <td ><%= cod_barra[22..29]%></td>
                </tr>
                <tr>
                  <th>Sequencial do Documento de Cobrança</th>
                  <td><%= cod_barra[30..38].insert(2,'/')%></td>
                </tr>
                <tr>
                  <th>Código do Tipo de Documento:</th>
                  <td><%= cod_barra[39..40]%></td>
                </tr>
                <tr>
                  <th>Não Utilizado:</th>
                  <td><%= cod_barra[41..42]%></td>
                </tr>
                <tr>
                  <th class="center">Tipo de Pagamento:</th>
                  <td class="center"><%= cod_barra[43]%> - Documento de Cobrança Novo</td>
                </tr>
              <%elsif cod_barra[43].match(/9/)%>
                <tr>
                  <th >Código da Localidade:</th>
                  <td ><%= cod_barra[19..21]%> - <%= @localidades["#{cod_barra[19..21]}"]%></td>
                </tr>
                <% if cod_barra[42].match(/0/) %>
                  <tr>
                    <th >Número de Identificação do Cliente:</th>
                    <td ><%= cod_barra[22..29]%></td>
                  </tr>
                  <tr>
                    <th>Identificador da Guia de Pagamento:</th>
                    <td><%= cod_barra[30..38]%></td>
                  </tr>
                  <tr>
                    <th>Não Utilizado:</th>
                    <td><%= cod_barra[41..42]%></td>
                  </tr>
                <% else %>
                  <tr>
                    <th >Número de Identificação do Cliente:</th>
                    <td ><%= cod_barra[22..30]%></td>
                  </tr>
                  <tr>
                    <th>Identificador da Guia de Pagamento:</th>
                    <td><%= cod_barra[31..39]%></td>
                  </tr>
                  <tr>
                    <th>Não Utilizado:</th>
                    <td><%= cod_barra[40..42]%></td>
                  </tr>
                <% end %>
                <tr>
                  <th class="center">Tipo de Pagamento:</th>
                  <td class="center"><%= cod_barra[43]%> -Guia de Pagamento com Identificação do Cliente</td>
                </tr>
              <%elsif cod_barra[19..20].match(/91/)%>
                <tr>
                  <th class="center">Matrícula do Imóvel:</th>
                  <td class="center"><%= cod_barra[21..28]%></td>
                </tr>
                <tr>
                  <th class="center">Sequencial do Documento:</th>
                  <td class="center"><%= cod_barra[29..37]%></td>
                </tr>
                <tr>
                  <th class="center">Não Utilizado:</th>
                  <td class="center"><%= cod_barra[38..43]%></td>
                </tr>
                <tr>
                  <th class="center">Tipo de Pagamento:</th>
                  <td class="center"><%= cod_barra[19..20]%> - Pagamento de Compras Agrupadas</td>
                </tr>
              <%elsif cod_barra[19..20].match(/05/)%>
                <tr>
                  <th class="center">Código do Cliente Responsável:</th>
                  <td class="center"><%= cod_barra[21..29]%></td>
                </tr>
                <tr>
                  <th class="center">Sequencial da Fatura:</th>
                  <td class="center"><%= cod_barra[30..38]%></td>
                </tr>
                <tr>
                  <th class="center">Não Utilizado:</th>
                  <td class="center"><%= cod_barra[39..43]%></td>
                </tr>
                <tr>
                  <th class="center">Tipo de Pagamento:</th>
                  <td class="center"><%= cod_barra[19..20]%> - Pagamento de Fatura (Legado)</td>
                </tr>
              <%elsif cod_barra[19..20].match(/94/)%>
                <tr>
                  <th class="center">Id Legado da Guia:</th>
                  <td class="center"><%= cod_barra[21..29]%></td>
                </tr>
                <tr>
                  <th class="center">Número da Prestação da Guia:</th>
                  <td class="center"><%= cod_barra[30..32]%></td>
                </tr>
                <tr>
                  <th class="center">Imóvel/Cliente:</th>
                  <td class="center"><%= cod_barra[33..41]%></td>
                </tr>
                <tr>
                  <th class="center">Identificador Imóvel/Cliente:</th>
                  <td class="center"><%= cod_barra[42]%></td>
                </tr>
                <tr>
                  <th class="center">Não Utilizado:</th>
                  <td class="center"><%= cod_barra[43]%></td>
                </tr>
                <tr>
                  <th class="center">Tipo de Pagamento:</th>
                  <td class="center"><%= cod_barra[19..20]%> - Guia de Pagamento (Legado)</td>
                </tr>
              <%elsif cod_barra[19..20].match(/90|84/)%>
                <tr>
                  <th class="center">Matrícula do Imóvel:</th>
                  <td class="center"><%= cod_barra[21..29]%></td>
                </tr>
                <tr>
                  <th class="center">Sequência do Documento:</th>
                  <td class="center"><%= cod_barra[30..39][2..-1]%></td>
                </tr>
                <tr>
                  <th class="center">Não Utilizado:</th>
                  <td class="center"><%= cod_barra[39..43]%></td>
                </tr>
                <tr>                
                <tr>
                  <th class="center">Tipo de Pagamento:</th>
                  <% if cod_barra[19..20].match(/90/) %>
                    <td><%= cod_barra[19..20]%> - Aviso de Corte (Legado)</td>
                  <% else %>
                    <td><%= cod_barra[19..20]%> - Aviso de Débito (Legado)</td>
                  <% end %>
                </tr>
              <%elsif cod_barra[19..20].match(/14/)%>
                <tr>
                  <th class="center">Matrícula do Imóvel/Cliente:</th>
                  <td class="center"><%= cod_barra[23..31]%></td>
                </tr>
                <tr>
                  <th class="center">Sequência do Documento:</th>
                  <td class="center"><%= cod_barra[32..40]%></td>
                </tr> 
                <tr>
                  <th class="center">Identificador Imóvel / Cliente:</th>
                  <td class="center"><%= cod_barra[42]%></td>
                </tr>
                <tr>
                  <th class="center">Não Utilizado:</th>
                  <td class="center"><%= cod_barra[43]%></td>
                </tr>
                <tr>
                  <th class="center">Tipo de Pagamento:</th>
                  <td class="center"><%= cod_barra[19..20]%> - Pagamento de Extrato (Legado)</td>
                </tr>
              <%elsif cod_barra[19..20].match(/35|36/)%>
                <tr>
                  <th class="center">Código de Localidade:</th>
                  <td ><%= cod_barra[21..23]%> - <%= @localidades["#{cod_barra[21..23]}"]%></td>
                </tr>
                <tr>
                  <th class="center">Matrícula do Imóvel:</th>
                  <td class="center"><%= cod_barra[24..31]%></td>
                </tr>
                <tr>
                  <th class="center">Sequêncial do Documento:</th>
                  <td class="center"><%= cod_barra[32..39]%></td>
                </tr>
                <tr>
                  <th class="center">Não Utilizado:</th>
                  <td class="center"><%= cod_barra[40..43]%></td>
                </tr>
                <tr>
                  <th class="center">Tipo de Pagamento:</th>
                  <% if cod_barra[19..20].match(/35/) %>
                      <td class="center"><%= cod_barra[19..20]%> - Pagamento Extrato Parcelado (Legado)</td>
                    <% else %>
                      <td class="center"><%= cod_barra[19..20]%> - Pagamento Extrato Parcelado Cartão (Legado)</td>
                  <% end %>
                </tr>
              <%elsif cod_barra[19..20].match(/37/)%>
                <tr>
                  <th class="center">Código de Localidade:</th>
                  <td class="center"><%= cod_barra[21..23]%></td>
                </tr>
                <tr>
                  <th class="center">Pré Parcelamento:</th>
                  <td class="center"><%= cod_barra[24..31]%></td>
                </tr>
                <tr>
                  <th class="center">Sequêncial do Documento:</th>
                  <td class="center"><%= cod_barra[32..39]%></td>
                </tr>
                <tr>
                  <th class="center">Não Utilizado:</th>
                  <td class="center"><%= cod_barra[40..43]%></td>
                </tr>
                <tr>
                  <th class="center">Tipo de Pagamento:</th>
                  <td class="center"><%= cod_barra[19..20]%> - Pagamento Carta (Legado)</td>
                </tr>
              <%elsif cod_barra[19..20].match(/15/)%>
                <tr>
                  <th class="center">Matricula do Imóvel:</th>
                  <td class="center"><%= cod_barra[21..28]%></td>
                </tr>
                <tr>
                  <th class="center">Mês/Ano Conta:</th>
                  <td class="center"><%= cod_barra[29..34].insert(2,'/')%></td>
                </tr>
                <tr>
                  <th class="center">Código da Localidade:</th>
                  <td ><%= cod_barra[35..37]%> - <%= @localidades["#{cod_barra[35..37]}"]%></td>
                </tr>
                <tr>
                  <th class="center">Tipo de Serviço:</th>
                  <td class="center"><%= cod_barra[38..40]%></td>
                </tr>
                <tr>
                  <th class="center">Não Utilizado:</th>
                  <td class="center"><%= cod_barra[41..43]%></td>
                </tr>
                <tr>
                  <th class="center">Tipo de Pagamento:</th>
                  <td class="center"><%= cod_barra[19..20]%> - Pagamento Nota Recebimento (Legado)</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container my-auto">
    <br>
    <div class="copyright text-center my-auto">
        <span> &copy; GETIN/SUDEO - 2020</span>
    </div>
</div>