<div class= "table-responsive table-sm">
  <table class="table table-striped table-bordered table-hover">
  <h1>Detalhes do Arquivo</h1> <%= params %>
   
    <thead class="bg-gradient-primary text-white">
      <tr>
        <th class= "">Título</th>
        <th>Descrição</th>
        <th>Arquivos</th>
        <th>Valor Total Recebido</th>
      </tr>
    </thead>
    <tbody class= "text-primary">
      <tr>
        <td><%=  @arquivo.title %></td>
        <td> <%= @arquivo.body %></td>  
        <td>
          <div class="arquivos-grade">
            <% @arquivo.documento.each do |doc| %>
              <%= link_to doc.filename, rails_blob_path(doc, disposition: :attachment) %>
            <% end %>
          </div>
        </td>

        <td>
          <% @valor_total.each do |valor| %>    
            <span style="font-size: 100%;", class="badge badge-info"><%= number_to_currency_br(valor.insert(-3,'.'))%></span>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<%= form_with(url: conta_search_index_path(@arquivo),local: true, method: :get) do |f| %>
  <div class="form-row">
      <div class="form-inline">      
      <div id="search-select"><%= f.select(:filtro, @campos)%></div>
      <div class="search-field"><%= f.text_field :term, class:"form-control"%></div>      
      <button type="submit" class="btn btn-primary">Filtrar</button>
  </div>
<% end %>


<div class= "table-responsive table-sm" id="table-show">
  <table class="table table-striped table-bordered">
    <thead class="bg-gradient-primary text-white">
    <th>Arquivo</th>
    <th>Qtd de códigos</th>
    <th colspan="100">Códigos de Retorno das Arrecadações Identificadas</th>
  </thead>
    <tbody class= "text-primary">
      <% @arquivo.documento.each do |doc| %>
        <tr>
          <td><%= link_to doc.filename, rails_blob_path(doc, disposition: :attachment) %></td>
          <td><%=extrair_cod_barra_filtrado(doc,@termo, @filtro).size%></td>
          <td>
            <% extrair_cod_barra_filtrado(doc,@termo, @filtro).each do |barra| %>
              <p><%= link_to barra, conta_display_index_path(barra) %></p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Editar', edit_arquivo_path(@arquivo), class: 'btn btn-sm btn-info' %>
<%= link_to 'Voltar', arquivos_path, class: 'btn btn-sm btn-info' %><br><br>

