<p id="notice"><%= notice %></p>

<p>
  <strong>Cod documento:</strong>
  <%= @invoice_item.cod_documento %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @invoice_item.invoice %>
</p>

<%= link_to 'Edit', edit_invoice_item_path(@invoice_item) %> |
<%= link_to 'Back', invoice_items_path %>
