
<div class= "table-responsive table-sm" id="table-show ">
  <span class="navbar-text">          
    <%= link_to arquivos_path, class:"btn btn-primary my-2 my-sm-0" do %>
        <i class="far fa-file-alt"></i>
        <span>Arquivos</span></a>
    <% end %>
    <%= link_to edit_arquivo_path(@arquivo), class:"btn btn-info my-2 my-sm-0" do %>
      <i class="fas fa-file-signature"></i>Editar
    <% end %>
    <%= link_to arquivo_path(@arquivo, format: :pdf), class:"btn btn-success" do%>
      <i class="fas fa-file-pdf"></i>Baixar PDF
    <% end %>
  </span>
  <table class="table table-striped table-bordered">
    <thead class="bg-gradient-primary text-white">
    <th>Arquivo</th>
    <th> Localidade</th>
    <th> Matricula</th>
    <th> Valor</th>
    <th> mes/ano referencia</th>
  </thead>
    <tbody class= "text-primary">
      <% @arquivo.documento.each do |doc| %>
        <tr>
          <td><%= link_to doc.filename, rails_blob_path(doc, disposition: :attachment) %></td>

          <% extrair_cod_barra(doc).each do |barra| %>
          <tr>
            <td>
              <% if barra.size > 45 %>
                <p><%= link_to barra, conta_display_index_path(barra) %></p>
              <% else %>
                <p><%= link_to barra, conta_cod_barra_index_path(barra) %></p>
              <% end %>
            </td>
            <td><%= barra[19..21] %></td>
            <% if barra[19..21].match(/8\d{2}/) %>
              <td class="center"><%= barra[22..29] %></td>
            <% else %>
              <td class="center"><%= barra[22..30] %></td>  
            <% end %>
            <td class="center"><%= barra[4..14].insert(-3, ',').sub(/^0+/,'')  %></td>
            <% if barra[19..21] == '820' %>
              <td class="center"><%= barra[30..35] %></td>
            <% else %>
              <td class="center"><%= barra[33..38] %></td>
            <% end %>
          <% end %>
          </tr>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
 