
 <div class="main__box">
  <div class="main__box-itens">

<p id="notice"><%= notice %></p>

<h1>Arquivos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arquivos.each do |arquivo| %>
      <tr>
        <td><%= arquivo.title %></td>
        <td><%= arquivo.body %></td>
        <td><%= link_to 'Mostrar', arquivo, class: "btn" %></td>
        <td><%= link_to 'Editar', edit_arquivo_path(arquivo), class: "btn" %></td>
        <td><%= link_to 'Excluir', arquivo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo arquivo', new_arquivo_path, class: "btn-novo" %>

  </div>
</div>
