<div class= "show__box">
  <div class="show__box-itens">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Título:</strong>
      <%= @arquivo.title %>
    </p>

    <p>
      <strong>Descrição:</strong>
      <%= @arquivo.body %>
    </p>

    <div class="arquivos-grade">
      <% @arquivo.documento.each do |doc| %>
        <%= link_to doc.filename, rails_blob_path(doc, disposition: :attachment) %>
      <% end  %>
    </div>

    <div class="btn-caixa">
      <%= link_to 'Editar', edit_arquivo_path(@arquivo), class: 'btn' %>
      <%= link_to 'Voltar', arquivos_path, class: 'btn' %><br><br>
      <%= selecionar_docs(@arquivo)%><br>
    </div>
  </div>
</div>