<div class= "table-responsive table-sm">
  <table class="table table-striped table-bordered table-hover">
  <%= params %>
    <thead class="bg-gradient-primary text-white">
      <tr>
        <th class= "">Título</th>
        <th>Descrição</th>
        <th>Arquivos</th>
        <th>Acões:</th>
      </tr>
    </thead>
    <tbody class= "text-primary">
      <tr>
        <td><%=  @arquivo.title %></td>
        <td> <%= @arquivo.body %></td>
        <td>
          <div class="arquivos-grade">
            <% @arquivo.documento.each do |doc| %>
              <%= link_to doc.filename, rails_blob_path(doc, disposition: :attachment) %>
            <% end %>
          </div>
        </td>

        <td>
        <%= link_to arquivo_path(@arquivo), class:"btn btn-info btn-sm  " do %>
            <i class="fas fa-folder-open"></i>
        <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class= "table-responsive table-sm">
  <table class="table table-striped table-bordered">
    <thead class="bg-gradient-primary text-white">
    <th>Arquivo</th>
    <th colspan="100">Códigos de Barra</th>
  </thead>
    <tbody class= "text-primary">
      <% @arquivo.documento.each do |doc| %>
        <tr>
          <td><%= link_to doc.filename, rails_blob_path(doc, disposition: :attachment) %></td>
          <td>
            <% @barras.each do |barra| %>            
              <p><%= link_to barra, conta_display_index_path(barra) %></p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Editar', edit_arquivo_path(@arquivo), class: 'btn btn-sm btn-info' %>
<%= link_to 'Voltar', arquivos_path, class: 'btn btn-sm btn-info' %><br><br>

    