<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Eureca</title>
    <%= stylesheet_link_tag 'arquivos'%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/arquivos">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Painel de Arquivos<sup></sup></div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <%= link_to arquivos_path, class: "nav-link" do %>
                    <i class="far fa-file-alt"></i>
                    <span>Arquivos</span>
                <% end %>
            </li>
             <li class="nav-item">
                <%= link_to codigos_path, class: "nav-link" do %>
                    <i class="fas fa-keyboard"></i>
                    <span>Digitar Códigos</span>
                <% end %>
            </li>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>      
                        </li>
                    </ul>
                </nav> <!-- Conteúdo -->
                <div class="container-fluid">
                    <%= yield %>
                </div>
            </div>
           <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span> &copy; GETIN/SUDEO - 2021</span>
                </div>
            </div>
            </footer>
        </div>
    </div>

    <%= javascript_include_tag 'arquivos'%>
    <%= javascript_include_tag 'application'%>


<!--    <% if notice %>
        <%= javascript_tag do %>
            $.bootstrapGrowl( "<%=notice%>" , {
                ele: 'body', // which element to append to
                type: 'success', // (null, 'info', 'danger', 'success')
                offset: {from: 'top', amount: 20}, // 'top', or 'bottom'
                align: 'center', // ('left', 'right', or 'center')
                width: 250, // (integer, or 'auto')
                delay: 4000, // Time while the message will be displayed. It's not equivalent to the *demo* timeOut!
                allow_dismiss: true, // If true then will display a cross to close the popup.
                stackup_spacing: 10 // spacing between consecutively stacked growls.
            });
        <% end %>
    <% end %> -->

    <%= javascript_tag do %>
        $(document).ready( function () {
        
            <%# var barras = document.getElementById("table-barras");
            var data = [];

            if (barras == null){
                $("table#table-rajadas tr").each(function() {
                    var arrayOfThisRow = [];
                    var tableData = $(this).find('td');
                    if (tableData.length > 0) {
                        tableData.each(function() { arrayOfThisRow.push($(this).text()); });
                        data.push(arrayOfThisRow);
                    }
                });
            }else{
                $("table#table-barras tr").each(function() {
                    var arrayOfThisRow = [];
                    var tableData = $(this).find('td');
                    if (tableData.length > 0) {
                        tableData.each(function() { arrayOfThisRow.push($(this).text()); });
                        data.push(arrayOfThisRow);
                    }
                });
            }; %>

            $('#table-barras, #table-rajadas').dataTable( {
                paginate: false
            });
        });
    <% end %>
</body>
</html>